{% extends 'base.html.twig' %}


{% block body %}
    <div>
        <h1>{{ product.name }}</h1>
        <p>{{ product.description | nl2br }}</p>
        <p>Price: {{ product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, 'fr')  }}</p>

        <form action="{{ path('add_to_cart', {product: product.id})}}" method="POST">
            <div class="input-group">
                <input type="number" class="form-control" name="quantity" aria-label="Quantity" value="1" min="0">
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </div>
        </form>
    </div>
{% endblock %}

